// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded');
@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL');

// :root {
//   --ep-color-primary: red;
// }

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: var(--ep-color-primary);
}

code {
    border-radius: 2px;
    padding: 2px 4px;
    background-color: var(--ep-color-primary-light-9);
    color: var(--ep-color-primary);
}
